rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    match /users/{userId} {
      allow read, update: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow delete: if request.auth != null && isAdmin();
      allow create: if request.auth != null;
    }
    
    match /gateway_merchants/{merchantId} {
      allow read: if request.auth != null && (request.auth.uid == merchantId || isAdmin());
      allow create: if request.auth != null;
      allow update: if request.auth != null && (request.auth.uid == merchantId || isAdmin());
    }
    
    match /gateway_providers/{providerId} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin();
    }
    
    match /gateway_transactions/{txId} {
      allow read: if request.auth != null;
      allow create: if true;
      allow update: if request.auth != null && isAdmin();
    }
    
    match /gateway_settings/{settingId} {
      allow read: if true;
      allow write: if request.auth != null;  // ← remplacer isAdmin() par ça
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}